@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.form-input {
}

@font-face {
  font-family: "Segoe-UI";
  src: url("./assets//fonts//Segoe-UI.ttf"), format("truetype");
}
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("./assets//fonts//Segoe-UI-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "Lora-Regular";
  src: url("./assets//fonts//Lora-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "Lora-Medium";
  src: url("./assets//fonts//Lora-Medium.ttf"), format("truetype");
}
@font-face {
  font-family: "Lora=Semibold";
  src: url("./assets//fonts//Lora-SemiBold.ttf"), format("truetype");
}
@font-face {
  font-family: "Lora-Bold";
  src: url("./assets//fonts//Lora-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "Prata-Regular";
  src: url("./assets/fonts/Prata-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./assets/fonts/IBMPlexSans-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("./assets/fonts/IBMPlexSans-Medium.ttf"), format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("./assets/fonts/IBMPlexSans-Bold.ttf"), format("truetype");
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space for vertical scrollbar */
}

/* Hiển thị thanh cuộn ngang */
::-webkit-scrollbar-horizontal {
  height: 5px; /* Set the height of the horizontal scrollbar */
  background-color: #f1f1f1; /* Optional: Set the background color of the horizontal scrollbar */
}

/* Optional: customize the horizontal scrollbar thumb */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #888; /* Set the color of the horizontal scrollbar thumb */
}

/* Optional: customize the horizontal scrollbar track */
::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1; /* Set the color of the horizontal scrollbar track */
}
