@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
body {
  @apply font-ibmplexsans-regular
}
@media (min-width: 1280px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1536px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@font-face {
  font-family: "Prata-Regular";
  src: url("./assets/fonts/Prata-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./assets/fonts/IBMPlexSans-Regular.ttf"), format("truetype");
}
.bg-introduce {
  background: url("./assets/images/backgrounds/introduce.webp") lightgray -0.769px -150px /
    100.107% 119.248% no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: color-dodge;
  filter: brightness(0.92);
}

.bg-galaxy {
  background: url("./assets/images/backgrounds/galaxy.svg") lightgray 15.848px
    0px / 100% 140.804% no-repeat;
  background-position: center top;
  background-size: cover;
}

.bg-content-introduce {
  border-radius: 40px;
  background: linear-gradient(
    104deg,
    rgba(217, 217, 217, 0.2) 0.14%,
    rgba(100, 100, 100, 0.2) 99.86%
  );
  mix-blend-mode: multiply;
  box-shadow: 10px 10px 20px 0px rgba(25, 24, 51, 0.1) inset;
  filter: blur(2px);
}
.wrapper {
  display: inline-flex;
  justify-content: center;
}
.typing-demo {
  display: inline-block;
  animation: typing 4s steps(40), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: white 1px solid;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.form-input {
  @apply text-primary-7 font-ibmplexsans-regular text-sm xl:text-base py-3 xl:py-[14px] px-4 rounded-[100px] outline-none;
}
.form-option {
  @apply absolute bg-white flex flex-col overflow-hidden inset-x-0 top-[105%] rounded-xl font-ibmplexsans-regular text-primary-7 border border-gray-300;
}

.border-gradient-radius {
  border-radius: 100%;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, white, #73cbd5, #8c5cbe) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.border-gradient-radius-2 {
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(to right, white, #f9f89b) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space for vertical scrollbar */
}
/* Hiển thị thanh cuộn ngang */
::-webkit-scrollbar-horizontal {
  height: 5px; /* Set the height of the horizontal scrollbar */
  background-color: #f1f1f1; /* Optional: Set the background color of the horizontal scrollbar */
}
/* Optional: customize the horizontal scrollbar thumb */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #888; /* Set the color of the horizontal scrollbar thumb */
}
/* Optional: customize the horizontal scrollbar track */
::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1; /* Set the color of the horizontal scrollbar track */
}
